body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --color-bg: #080;
  --color-fg: #fff;
  --color-border: #ccc;
  --color-hover: #999;
  --color-link: #0054e9;
  --button-height: 36px;
  --item-height: 44px;
  --item-padding-h: 1rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

input,
textarea,
select {
  font-size: 1rem; /* Prevent iOS zoom by setting to at least 16px */
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
