.icon {
  transition: transform 0.2s ease;
}
.content {
  transform: translateY(-100%);
  transition: 0.2s ease-in-out;
}

.isExpanded {
  > span > .icon {
    transform: rotate(-180deg);
  }
  .content {
    transform: translateY(0);
  }
}
