.BookList {
  display: flex;
  flex-direction: column;
  height: 100%;
  .search {
    margin: 1rem;
  }
  .scroll {
    overflow-y: auto;
  }
  ul {
    padding: 0 1rem;
  }
  ol {
    display: grid;
    align-items: center;
    grid-template-columns: auto 40px 40px 40px;
    row-gap: 0.5rem;
    padding: 1rem;

    li {
      display: contents;
      button,
      input {
        height: 40px;
      }
    }
  }
}
