.BookList {
  display: flex;
  flex-direction: column;
  height: 100%;
  .search {
    margin: 1rem;
  }
  .scroll {
    overflow-y: auto;
  }
  ul {
    padding: 0 1rem;
  }
  .label {
    font-size: 1.4rem;
    font-weight: bold;
  }
  ol {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 0.5rem;
  }
}
