.Book {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem;
    height: 36px;
  }
  .chapterList {
    display: none;
    flex-direction: column;
    gap: 0.5rem;
    overflow: hidden;
    padding-bottom: 1rem;
  }
  &.isExpanded {
    display: flex;
    .label {
      font-weight: bold;
    }
    .chapterList {
      display: flex;
    }
  }
}
