.Chapter {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr;
  row-gap: 0.5rem;
  column-gap: 0.5rem;

  .header,
  .expander {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    height: var(--item-height);
    gap: 0.5rem;
  }
  .expander {
    justify-content: end;
  }

  ion-icon[name='checkmark-circle'] {
    color: green;
  }

  .label {
    flex-grow: 1;
    text-decoration: underline;
  }

  .count {
    display: none;
  }

  ion-icon[name='chevron-down-sharp'] {
    display: none;
  }

  button {
    font-size: 1.6rem;
    height: var(--button-height);
  }

  .dateList {
    display: none;
    grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
    gap: 8px;
    grid-column: span 2;
  }

  .date {
    display: flex;
    gap: 4px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    padding: 4px 8px;
    height: var(--button-height);
    font-size: 0.8rem;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    &:after {
      content: 'X';
      display: block;
    }
  }

  &.hasDates {
    .count {
      display: block;
    }
    ion-icon[name='chevron-down-sharp'] {
      display: block;
    }
  }

  &.isExpanded {
    .dateList {
      display: grid;
    }
  }
}
