.ChapterGroupList {
  display: flex;
  flex-direction: column;
  height: 100%;
  .search {
    margin: 1rem;
  }
  .scroll {
    overflow-y: auto;
    border-top: 1px solid #ccc;
    padding-top: 0.5rem;
  }
  ul {
    padding: 0 1rem;
    > li {
      min-height: 36px;
    }
  }
}
