.Layout {
  display: flex;
  flex-direction: column;
  height: 100%;

  .header {
    border-bottom: 1px solid var(--color-border);
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr;
    padding: 1rem 1rem 0.5rem;
    gap: 1rem;
  }
  .showCompleted {
    display: flex;
    grid-column: span 2;
    justify-self: end;
  }
  .menuTrigger {
    color: gray;
    display: flex;
    align-self: center;
    justify-content: center;
  }
  .main {
    padding: 0.5rem 1rem;
    overflow-y: auto;
    flex-grow: 1;
  }
  .sidebar {
    position: absolute;
    padding: 0.5rem 1rem;
    flex-grow: 1;
  }
  .tabBar {
    border-top: 1px solid var(--color-border);
    display: flex;
    height: 72px;
    flex-shrink: 0;
    padding: 0.5rem 1rem 22px;
    justify-content: space-evenly;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50px;
      flex-grow: 1;
    }
  }
}
