.Layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  .header {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr;
    padding: 1rem 1rem 0.5rem;
    gap: 1rem;
  }
  .showCompleted {
    display: flex;
    grid-column: span 2;
    justify-self: end;
  }
  a {
    display: flex;
    align-self: center;
    justify-content: center;
    color: gray;
    justify-self: end;
  }
  .main {
    overflow-y: auto;
    border-top: 1px solid #ccc;
    padding: 0.5rem 1rem;
  }
}
